<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Forum</title>
  <link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" rel="stylesheet">
  <style>
    body { background-color: #f8f9fa; }
    .card { transition: transform 0.2s; }
    .card:hover { transform: translateY(-5px); box-shadow: 0 10px 20px rgba(0,0,0,0.1); }
  </style>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">Forum</a>
    <div class="collapse navbar-collapse">
      <form th:action="@{/articles/search}" method="get" class="d-flex">
        <input class="form-control me-2" type="search" name="query"
               placeholder="Поиск статей..." th:value="${searchQuery}">
        <button class="btn btn-outline-success" type="submit">Найти</button>
      </form>
      <!--Это Пользователь с аутентификацией-->
      <div class="navbar-nav ms-auto" th:if="${#authorization.expression('isAuthenticated()')}">
        <span class="navbar-text text-white me-3">Привет, <b th:text="${#authentication.name}">User</b></span>
        <form th:action="@{/logout}" method="post">
          <button class="btn btn-outline-light btn-sm" type="submit">Выйти</button>
        </form>
      </div>
      <!--А это если нужно войти в аккаунт-->
      <div class="navbar-nav ms-auto" th:unless="${#authorization.expression('isAuthenticated()')}">
        <a class="btn btn-outline-light btn-sm me-2" href="/signup">Регистрация</a>
        <a class="btn btn-primary btn-sm" href="/login">Войти</a>
      </div>
    </div>
  </div>
</nav>


</body>
</html>